<form [formGroup]="reservationForm" (ngSubmit)="onSubmit()">

    <div>
        <label>Check-In Date:</label>
        <input type="date" formControlName="checkInDate">
        <div style="color: red;" *ngIf="reservationForm.get('checkInDate')?.invalid && reservationForm.get('checkInDate')?.touched">
            *Check-In Date Is Required</div>
    </div>

    <div>
        <label>Check-Out-Date:</label>
        <input type="date" formControlName="checkOutDate">
        <div style="color: red;" *ngIf="reservationForm.get('checkOutDate')?.invalid && reservationForm.get('checkOutDate')?.touched">
            *Check-Out Date Is Required</div>
    </div>

    <div>
        <label>Guest Name:</label>
        <input type="text" formControlName="guestName">
        <div style="color: red;" *ngIf="reservationForm.get('guestName')?.invalid && reservationForm.get('guestName')?.touched">
            *Name Is Required</div>
    </div>

    <div>
        <label>Guest Email:</label>
        <input type="email" formControlName="guestEmail">
        <div style="color: red;" *ngIf="reservationForm.get('guestEmail')?.invalid && reservationForm.get('guestEmail')?.touched">
            *E-mail Is Required</div>
    </div>

    <div>
        <label>Room Number:</label>
        <input type="number" formControlName="roomNumber">
        <div style="color: red;" *ngIf="reservationForm.get('roomNumber')?.invalid && reservationForm.get('roomNumber')?.touched">
            *Room Number Is Required</div>
    </div>

    <button type="submit" [disabled]="reservationForm.invalid">Submit</button>

</form>